@media (max-width:480px) {
    /* nav section */
    body{
        
    }
    .home{
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        
    }
    .left-home{
        width: 100%;
        height: calc(100% - 60px);
        
    }
    .nav-right h4{
        display: none;
    }
    .nav-right i{
     
        display: block;
    }
}