@media (max-width:480px) {
    /* nav section */
    body{
        
    }
    .home{
       height: fit-content;
        display: flex;
        flex-direction: column;
        
    }
    .left-home{
        width: 100%;
        padding-top: 70px;
        
        
    }
    .right-home{
       padding-top: 10px;
       padding-bottom: 50px;
    }
    .nav{
   width: 100%;
    }
    .nav-right h4{
        display: none;
    }
    .nav-right i{
     color: rgb(9, 247, 41);
        display: block;
    }
}