*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
   
    color: white;
}
/*nav section */
.nav{
    color: white;

background-color: rgb(17, 16, 16);
display: flex;
justify-content: space-between;
align-items: center;
padding: 2vh 4vw;

}
.nav h4{
    font-size: 1.7rem;
    
}
.nav img{
    height: 40px;
    border-radius: 50%;
    border:3px solid rgb(36, 235, 10);
}
.nav-left{
    display: flex;
   align-items: center;
   gap: 1vw;
   font-size: 20px;
}
.nav-right{
    
    display: flex;
    gap: 3vw;
}
.nav-right h4:hover{
    color: rgb(18, 237, 14);
}
.nav-right i{
    font-size: 4vh;
    display: none;
    
}

/*home  section */
.home{
    
    display: flex;
   
 
    background-color: rgb(31, 28, 28);
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif; 
}
.left-home{
   
    text-transform: capitalize ;
    font-size: larger;  
      
    padding: 0.4rem;
     
    padding: 100px 9% ;
 width:56% ;


}
span{
    color: rgb(13, 225, 62);
}
.social-icon{
    padding:1rem 0rem;
    
}
.social-icon i{
    margin-right: 1rem;
}
.right-home{

    width: 50%;
     
    padding: 100px 7vw;
   
}
.right-home img{
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border:3px solid rgb(36, 235, 10);
    
}
/*project section*/
.project{
 background-color: rgb(28, 27, 27);
    gap: 5rem;
    padding: 5vh 7vw;
  display: flex;
  flex-wrap: wrap;
  
   
   
   
   
}
.project-list{
    width:300px ;
    height: 450px;
    background-color: cyan;
   
}
.project img{
    height: 150px;
    width:  300px;
}
.project p{
    color: chartreuse;
}
