*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{

}
/*nav section */
.nav{
height: 60px;

display: flex;
justify-content: space-between;
align-items: center;
padding: 0vh 2vw;

}
.nav h4{
    font-size: 1.7rem;
    
}
.nav img{
    height: 40px;
    border-radius: 50%;

}
.nav-left{
    display: flex;
   align-items: center;
   gap: 1vw;
   font-size: 20px;
}
.nav-right{
    
    display: flex;
    gap: 3vw;
}
.nav-right i{
    font-size: 4vh;
    display: none;
}

/*home  section */
.home{
    height: calc(100% - 60px);
    display: flex;
    position: absolute;
    
    background-color: rgb(27, 26, 26);
    color: white;
}
.left-home{
   background-color: aqua;
    text-transform: capitalize ;
    font-size: larger;  
     
    padding: 10% 8vw;
 width:56% ;


}
span{
    color: rgb(13, 225, 62);
}
.social-icon{
    padding:1rem 0rem;
    
}
.social-icon i{
    margin-right: 1rem;
}
.right-home{
 background-color: brown;
    width: 50%;
     
    padding: 17vh 7vw;
   
}
.right-home img{
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border:3px solid rgb(36, 235, 10);
    
}

