*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
   
    color: white;
}
/*nav section */
.nav{
    color: white;
height: 70px;
background-color: rgb(17, 16, 16);
display: flex;
justify-content: space-between;
align-items: center;
padding: 2vh 4vw;


}
.nav h4{
    font-size: 1.7rem;
    
}
.nav img{
    height: 40px;
    border-radius: 50%;
    border:3px solid rgb(36, 235, 10);
}
.nav-left{
    display: flex;
   align-items: center;
   gap: 1vw;
   font-size: 20px;
}
.nav-right{
    
    display: flex;
    gap: 3vw;
}
.nav-right h4:hover{
    color: rgb(18, 237, 14);
    box-shadow: 3px 3px  rgb(101, 230, 107);
}
.nav-right i{
    font-size: 4vh;
    display: none;
    
}

/*home  section */
.home{
    
    display: flex;
   
  padding-top: 10px;
  padding-bottom: 15px;
   background-color: rgb(31, 28, 28);
  /* background-color: black; */
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif; 
}
.left-home{
   
    text-transform: capitalize ;
    font-size: larger;  
      
    padding: 0.4rem;
     
    padding: 100px 9% ;
 width:56% ;


}
span{
    color: rgb(13, 225, 62);
}
.social-icon{
    padding:1rem 0rem;
    
}
.social-icon i{
    margin-right: 1rem;
}
.right-home{

    width: 50%;
     
    padding: 100px 7vw;
   
}
.right-home img{
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border:3px solid rgb(36, 235, 10);
    /* box-shadow: 20px 20px 100px rgb(101, 230, 107); */
    
}
.right-home img:hover{
    box-shadow: 20px 20px 240px rgb(101, 230, 107); 
}
/*project section*/
.project{
 /* background-color: black; */
 background-color: rgb(31, 28, 28);
    gap: 3rem;
    padding: 15vh 0vw  15vh 3vw;
  display: flex;
  flex-wrap: wrap;
  
   
   
   
   
}
.project-list{
    width:350px ;
    height: 300px;
    
    /* border: 3px solid rgb(3, 237, 69) ; */
    box-shadow: 10px 10px  rgb(101, 230, 107);
}
.project-list a{
    text-decoration: none;
}
.project img{
    height: 150px;
    width:  340px;
    opacity: .5s;
    transition: .5s;
}
.project-list:hover{
    box-shadow: 20px 20px 240px rgb(101, 230, 107); 
}
.project h1 {
    color: white;
    padding-top: 18px;
    text-transform: capitalize;
    

}
.shreyian , .anuj , .card{
background-color:rgba(0, 0, 0, 0.342);
}

/*about*/

